.todo-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(185, 240, 221);

  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    padding: 8px;
    width: 70%;
    
  }
  
  button {
    padding: 8px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10%;
  }
  
  li {
    list-style: none;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }